/* ARQUIVO PARA ESTILOS MOBILE FIRST */
/* Estilos Base*/
img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos de Elementos do Header*/

header {
    padding: 0.5em 0;
}

.logo,
.barra-nav,
.menu-principal,
.busca {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    padding: 0 2%;
    vertical-align: middle;
}

.logo img{
    width: 200px;
    margin: auto;
}

.menu-abrir,
.menu-fechar{
    background: none;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    font-size: 1.6em;
    text-indent: -999em;
}


.menu-abrir{
    height: 0;
    width: .75em;
    padding-top: .125em;
    border-top: .375em double #000;
    border-bottom: .125em solid #000;

    vertical-align: middle;
    margin: 0.5em;
}

.menu-fechar{
    position: relative;
    height: 1em;
    width: 1em;
}

.menu-fechar::before{
    content: '\00D7'; /*multiplication sign*/
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
}
@media (max-width: 600px) {

    .barra-nav {
        position: fixed;
        z-index: 1;
        width: 90%;
        height: 100%;
        max-width: 320px;

        background: #ececec;
        margin: 0;
        padding: 2% 5%;

        top: 0;
        left: -90%;
        transition: left 0.3s ease-out;
    }

    .menu-ativo .barra-nav{
        left: 0;
    }

    .menu-ativo::after{
        content: "";

        position: fixed;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: rgba(0,0,0,.4);
    }

    .menu-principal {
        padding-top: 2%;
        padding-bottom: 2%;

    }

    .menu-principal li {
        display: inline-block;
        margin: 3% 0;
        width: 100%;
    }


}

/* Estilos Main */

.secao {
    width: 100%;
    padding: 0 2%;
}

.mini {
    float: left;
    width: 50%;
}

.destaques {
    margin-top: 1em;
}
