/* ARQUIVO PARA ESTILOS MEDIUM SIZE */
@media (min-width: 600px) {
    /* Estilos base */
    html{
        font-size: 1.125em;
    }

    /*Estilos Main*/
    .secao {
        width: 50%;
        float: left;
    }

    .menu-principal li {
        float: left;
    }

}

@media not all and (max-width: 600px){
    .menu-abrir,
    .menu-fechar {
        display: none;
    }
}
