/* ARQUIVO PARA ESTILOS MOBILE FIRST */
/* Estilos Base*/
img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos de Elementos do Header*/

header {
    padding: 0.5em 0;
}

.logo,
.barra-nav,
.menu-principal,
.busca {
    display: inline-block;
    vertical-align: center;
}

.logo {
    padding: 0 2%;
}

.barra-nav {
    margin: 0.4em 0;
    padding: 0 2%;
}

.menu-principal {
    padding-top: 2%;
    padding-bottom: 2%;
}

.menu-principal li {
    float: left;
}

/* Estilos Main */

.secao {
    width: 100%;
    padding: 0 2%;
}

.mini {
    float: left;
    width: 50%;
}

.destaques {
    margin-top: 1em;
}
